.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: -40px;
}

.chat-container {
  flex: 0 0 33.33%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.messages {
  color: #000;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
}

.message-container {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-bottom: 16px;
}

.message-logo {
  height: 24px;
  width: 24px;
  object-fit: contain;
  flex-shrink: 0;
}

.message-container-img {
  margin-top: 7px;
}

.message-container-body {
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
}

.message-container-title {
  padding: 10px 0;
  font-weight: 700;
}

form {
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.report-container {
  flex: 1;
  border: 1px solid #ccc;
  height: 80vh;
  margin-top: 10px;
  border-radius: 5px;
}

.report-scroller {
  height: calc(100% - 100px);
  overflow-y: auto;
}

.report-content {
  flex: 1;
  padding: 20px;
  border-radius: 4px;
  background-color: white;
  min-height: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
}

td {
  border-top: 1px solid #e0e0e0;
}

tr:hover {
  background-color: #e0e0e0;
}

.progress-container {
  width: 250px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}

.progress-container-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding: 24px 0;
}

.progress-container-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progress-container-chart-number {
  font-size: 26px;
  font-weight: 700;
  position: absolute;
}

.progress-container-chart-points {
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.progress-container-chart-points-step {
  display: flex;
  gap: 10px;
  flex-direction: row;
  font-size: 14px;
  font-weight: 700;
  border-left: 2px solid #b3b9fd;
  padding: 5px 0 5px 10px;
}

.progress-container-chart-points-step.done {
  border-left: 2px solid #4050fb;
}

.progress-container-chart-points-step span {
  margin-left: auto;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 400;
  background-color: #e0e0e0;
  color: #616a71
}

.progress-container-chart-points-step.done span {
  background-color: #E7FFE9;
  color: #008000;
}

.report-header {
  background: linear-gradient(270deg, #AF1077 10.78%, #6C2B7B 97.42%);
  color: white;
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  padding: 0 20px;
}

.report-header-name {
  font-size: 30px;
  font-weight: 700;
}

.report-header-name span {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 700;
}

.report-header-logo {
  margin-left: auto;
}