.chat-config-drawer-size {
    right: -1190px;
    width: 1190px !important;
}

.chat-config-drawer-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drawer-body-section {
    min-width: 400px;
}

.chat-config-drawer-infobox {
    width: 424px;
    height: 114px;

    background: #D9E3FE;
    border: 1px solid #4050FB;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    gap: 10px;

    font-size: 14px;
    font-weight: 400;
}

.chat-config-drawer-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px
}

.chat-config-drawer-buttons button {
    border: 1px solid #10328E;
    color: #10328E;
    background-color: white;
}

.chat-config-drawer-buttons a {
    color: #10328E;
}

.chat-config-drawer-custom-date {
    margin-top: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
}

.chat-config-drawer-custom-date-text {
    text-decoration-line: underline;
}

.chat-config-drawer-custom-date-picker {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-config-drawer-custom-date-picker input {
    border: 1px solid #ECEDFF;
    border-radius: 4px;
}