.avatar-wrapper {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
}

.avatar {
    min-width: 40px;
    height: 40px;
    background-color: rgb(62, 96, 235);
    border-radius: 50%;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 28px;
}

.avatar-wrapper.big {
    height: 84px;
    width: 84px;
    margin-left: 0;
}

.avatar-wrapper.small {
    height: 24px;
    width: 24px;
    margin-left: 0;
}

.avatar-wrapper.big .avatar {
    height: 84px;
    min-width: 84px;
    font-size: 60px;
}

.avatar-wrapper.small .avatar {
    height: 24px;
    min-width: 24px;
    font-size: 16px;
}

.avatar::before {
    content: attr(data-after-content);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
}